In [1]:
import pandas as pd
import zipfile
import kaggle

In [2]:
!kaggle datasets download -d jessemostipak/hotel-booking-demand

Dataset URL: https://www.kaggle.com/datasets/jessemostipak/hotel-booking-demand
License(s): Attribution 4.0 International (CC BY 4.0)
hotel-booking-demand.zip: Skipping, found more recently modified local copy (use --force to force download)

In [3]:
zipfile_name = 'hotel-booking-demand.zip'
with zipfile.ZipFile(zipfile_name, 'r') as zip_ref:
    zip_ref.extractall('.')

In [2]:
hotel = pd.read_csv('hotel_bookings.csv')

In [ ]:
print(hotel.columns)
#hey

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [4]:
hotel.previous_bookings_not_canceled.value_counts()

previous_bookings_not_canceled
0     115770
1       1542
2        580
3        333
4        229
       ...
68         1
69         1
70         1
71         1
72         1
Name: count, Length: 73, dtype: int64

In [7]:
null_counts = hotel.isnull().sum()

null_columns = null_counts[null_counts > 0]
print(null_columns)

children         4
country        488
agent        16340
company     112593
dtype: int64

In [8]:
hotel.agent = hotel.agent.fillna('No Agent')
hotel.country = hotel.country.fillna('Other')
hotel.children = hotel.children.fillna(0)
hotel.company = hotel.company.fillna('No Company')

In [9]:
month_dict = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

is_canceled_dict = {
    0: 'Not Canceled',
    1: 'Canceled'
}

meal_dict = {
    'BB': 'Bed & Breakfast',
    'FB': 'Full Board',
    'HB': 'Half Board',
    'SC': 'Self Catering',
    'Undefined': 'No meal'
}

repeated_guest_dict = {
    0: 'No',
    1: 'Yes'
}

hotel.arrival_date_month = hotel.arrival_date_month.map(month_dict)

hotel.is_canceled = hotel.is_canceled.map(is_canceled_dict)

hotel.meal = hotel.meal.map(meal_dict)

hotel.is_repeated_guest = hotel.is_repeated_guest.map(repeated_guest_dict)

In [10]:
hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,Not Canceled,342,2015,7,27,1,0,0,2,...,No Deposit,No Agent,No Company,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,Not Canceled,737,2015,7,27,1,0,0,2,...,No Deposit,No Agent,No Company,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,Not Canceled,7,2015,7,27,1,0,1,1,...,No Deposit,No Agent,No Company,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,Not Canceled,13,2015,7,27,1,0,1,1,...,No Deposit,304.0,No Company,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,Not Canceled,14,2015,7,27,1,0,2,2,...,No Deposit,240.0,No Company,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,Not Canceled,23,2017,8,35,30,2,5,2,...,No Deposit,394.0,No Company,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,Not Canceled,102,2017,8,35,31,2,5,3,...,No Deposit,9.0,No Company,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,Not Canceled,34,2017,8,35,31,2,5,2,...,No Deposit,9.0,No Company,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,Not Canceled,109,2017,8,35,31,2,5,2,...,No Deposit,89.0,No Company,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,Not Canceled,205,2017,8,35,29,2,7,2,...,No Deposit,9.0,No Company,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [11]:
hotel.to_excel('hotel_bookings.xlsx', index=False)