In [4]:
import pandas as pd
import zipfile
import kaggle

In [5]:
!kaggle datasets download -d atharvasoundankar/global-space-exploration-dataset-2000-2025

Dataset URL: https://www.kaggle.com/datasets/atharvasoundankar/global-space-exploration-dataset-2000-2025
License(s): CC0-1.0
global-space-exploration-dataset-2000-2025.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
zipfile_name = 'global-space-exploration-dataset-2000-2025.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [7]:
space = pd.read_csv('Global_Space_Exploration_Dataset.csv')

In [19]:
print(space.columns)

Index(['Country', 'Year', 'Mission Name', 'Mission Type', 'Launch Site',
       'Satellite Type', 'Budget (in Billion $)', 'Success Rate (%)',
       'Technology Used', 'Environmental Impact', 'Collaborating Countries',
       'Duration (in Days)'],
      dtype='object')

In [8]:
new_cols_dict ={
    'Mission Name': 'Mission_Name',
    'Mission Type': 'Mission_Type',
    'Launch Site': 'Launch_Site',
    'Satellite Type': 'Satellite_Type',
    'Budget (in Billion $)': 'Budget_in_Billion',
    'Success Rate (%)': 'Success_Rate',
    'Technology Used': 'Technology_Used',
    'Environmental Impact': 'Environmental_Impact',
    'Collaborating Countries': 'Collaborating_Countries',
    'Duration (in Days)': 'Duration_in_Days',
    }

space.rename(columns=new_cols_dict, inplace=True)
print(space.columns)

Index(['Country', 'Year', 'Mission_Name', 'Mission_Type', 'Launch_Site',
       'Satellite_Type', 'Budget_in_Billion', 'Success_Rate',
       'Technology_Used', 'Environmental_Impact', 'Collaborating_Countries',
       'Duration_in_Days'],
      dtype='object')

In [9]:
space.head()

,Country,Year,Mission_Name,Mission_Type,Launch_Site,Satellite_Type,Budget_in_Billion,Success_Rate,Technology_Used,Environmental_Impact,Collaborating_Countries,Duration_in_Days
0,China,2008,Sharable tertiary superstructure,Manned,Sheilatown,Communication,16.20,90,Nuclear Propulsion,Medium,"France, UK, Russia",112
1,Japan,2018,Re-engineered composite flexibility,Manned,New Ericfurt,Communication,29.04,99,Solar Propulsion,High,"Germany, Israel",236
2,Israel,2013,Reactive disintermediate projection,Manned,Port Kaitlynstad,Communication,28.73,54,AI Navigation,Medium,"China, Israel, USA",238
3,UAE,2010,Grass-roots 6thgeneration implementation,Unmanned,Mariastad,Spy,37.27,58,Traditional Rocket,Low,USA,186
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,Weather,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277

In [11]:
space.Satellite_Type.value_counts()

Satellite_Type
Research         649
Weather          617
Communication    588
Spy              585
Navigation       561
Name: count, dtype: int64

In [14]:
space.to_excel('space_exploration.xlsx', index=False, sheet_name='Data')