In [3]:
import pandas as pd

In [5]:
space = pd.read_csv('Global_Space_Exploration.csv')

In [16]:
new_cols_dict = {
    'Mission Name': 'Mission_Name',
    'Mission Type': 'Mission_Type',
    'Launch Site': 'Launch_Site',
    'Satellite Type': 'Satellite_Type',
    'Budget (in Billion $)': 'Budget_in_Billion',
    'Success Rate (%)': 'Success_Rate',
    'Tecnology Used': 'Technology_Used',
    'Environmental Impact': 'Environmental_Impact',
    'Collaborating Countries': 'Collaborating_Countries',
    'Duration (in Days)': 'Duration_in_Days',
}

space.rename(columns=new_cols_dict, inplace=True)

In [18]:
print(space.columns)

Index(['Country', 'Year', 'Mission_Name', 'Mission_Type', 'Launch_Site',
       'Satellite_Type', 'Budget_in_Billion', 'Success_Rate',
       'Technology Used', 'Environmental_Impact', 'Collaborating_Countries',
       'Duration_in_Days'],
      dtype='object')

In [20]:
space

,Country,Year,Mission_Name,Mission_Type,Launch_Site,Satellite_Type,Budget_in_Billion,Success_Rate,Technology Used,Environmental_Impact,Collaborating_Countries,Duration_in_Days
0,China,2008,Sharable tertiary superstructure,Manned,Sheilatown,Communication,16.20,90,Nuclear Propulsion,Medium,"France, UK, Russia",112
1,Japan,2018,Re-engineered composite flexibility,Manned,New Ericfurt,Communication,29.04,99,Solar Propulsion,High,"Germany, Israel",236
2,Israel,2013,Reactive disintermediate projection,Manned,Port Kaitlynstad,Communication,28.73,54,AI Navigation,Medium,"China, Israel, USA",238
3,UAE,2010,Grass-roots 6thgeneration implementation,Unmanned,Mariastad,Spy,37.27,58,Traditional Rocket,Low,USA,186
4,India,2006,Balanced discrete orchestration,Manned,North Jasonborough,Weather,18.95,91,Solar Propulsion,Medium,"Israel, China, India",277
...,...,...,...,...,...,...,...,...,...,...,...,...
2995,China,2023,Synergistic scalable intranet,Manned,East Shawna,Spy,22.11,68,Traditional Rocket,Medium,Israel,338
2996,France,2009,Team-oriented value-added extranet,Manned,Douglasborough,Communication,47.72,96,Nuclear Propulsion,Medium,"Germany, Israel, UK",336
2997,India,2020,Face-to-face even-keeled matrix,Unmanned,Bellhaven,Weather,14.58,83,Reusable Rocket,Low,"Japan, Russia, France",3
2998,Russia,2002,Open-source secondary software,Manned,Deniseview,Weather,13.69,66,Solar Propulsion,Low,"UAE, India, France",339
2999,Japan,2014,Public-key cohesive artificial intelligence,Manned,Port Brittany,Navigation,20.51,95,Nuclear Propulsion,Medium,Israel,210

In [19]:
space.Mission_Name.value_counts()

Mission_Name
Customer-focused leadingedge emulation      2
Diverse non-volatile instruction set        2
Devolved exuding array                      2
Pre-emptive neutral infrastructure          2
Adaptive coherent definition                1
                                           ..
Upgradable zero tolerance collaboration     1
Cloned mobile policy                        1
User-friendly optimizing array              1
Implemented value-added complexity          1
Grass-roots 6thgeneration implementation    1
Name: count, Length: 2996, dtype: int64

In [21]:
space.Collaborating_Countries.value_counts()

Collaborating_Countries
Germany                    115
USA                        113
Israel                     113
Russia                     110
UAE                        109
                          ...
UK, UAE, Russia              1
Israel, France, Germany      1
Russia, Israel, China        1
UAE, USA, India              1
Germany, Japan, UAE          1
Name: count, Length: 639, dtype: int64